

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex: 1;
  padding: 20px;
}

.casino-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
body {
  font-family: 'Inter', sans-serif;
}