@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-RegularItalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: normal;
    font-weight: 500;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: italic;
    font-weight: 500;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-MediumItalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: normal;
    font-weight: 600;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-Semibold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: italic;
    font-weight: 600;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-SemiboldItalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-Bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: OpenAI Sans;
    font-style: italic;
    font-weight: 700;
    src: url(https://cdn.openai.com/common/fonts/openai-sans/v2/OpenAISans-BoldItalic.woff2) format("woff2")
}

